<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>398017406506-he8qbsuj2kds8aeir483nuentdsdnmej.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398017406506-he8qbsuj2kds8aeir483nuentdsdnmej</string>
	<key>API_KEY</key>
	<string>AIzaSyDssy6lLj0aQhc1vW733JGSY0Rvra5eSXQ</string>
	<key>GCM_SENDER_ID</key>
	<string>398017406506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterfirst</string>
	<key>PROJECT_ID</key>
	<string>fir-first-1ae0d</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-first-1ae0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398017406506:ios:95fdb158ca459612274553</string>
</dict>
</plist>